@{
    ViewBag.Title = "Upload Image Demo";
}

<form method="post" enctype="multipart/form-data">
    <input type="file" name="files" multiple />
    <br />
    <input type="submit" value="送出" />
</form>